<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
    <form method="post" th:object="${cliente}" th:action="@{/clientes/add}" class="col-md-6 offset-md-4 card card-body">
        <div class="mb-3">
            <label for="numerocta">Numero Cuenta</label><br>
            <input type="text" name="numerocta" id="numerocta" placeholder="Porfavor digite el numero de cuenta" class="input" th:field="*{numerocta}">
            <div class="form-text fw-bold text-danger" th:if="${#fields.hasErrors('numerocta')}"th:errors="*{numerocta}"></div>
        </div>
        <div class="mb-3">
            <label for="titular">Titular</label><br>
            <input type="text" name="titular" id="titular" placeholder="Porfavor digite el nombre del titular" class="input" th:field="*{titular}">
            <div class="form-text fw-bold text-danger" th:if="${#fields.hasErrors('titular')}"th:errors="*{titular}"></div>
        </div>
        <div class="mb-3">
            <label for="saldo">Saldo</label><br>
            <input type="text" name="saldo" id="saldo" placeholder="Porfavor digite su saldo" class="input" th:field="*{saldo}">
            <div class="form-text fw-bold text-danger" th:if="${#fields.hasErrors('saldo')}"th:errors="*{saldo}"></div>
        </div>
        <div class="mb-3">
          <label for="fechaapertura">Fecha Apertura</label><br>
          <input type="text" name="fechaapertura" id="fechaapertura" placeholder="Porfavor digite su fecha apertura" class="input" th:field="*{fechaapertura}">
          <div class="form-text fw-bold text-danger" th:if="${#fields.hasErrors('fechaapertura')}"th:errors="*{fechaapertura}"></div>
        </div>
        <div class="mb-3">
          <label for="estado">Estado</label><br>
          <input type="checkbox" name="estado" id="estado"class="input" th:field="*{estado}">
        <div class="form-text fw-bold text-danger" th:if="${#fields.hasErrors('estado')}"th:errors="*{estado}"></div>
        </div>
        <button type="submit" class="btn btn-primary fw-bold rounded w-100">Save</button>
    </form>
    <h1>Add</h1>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>