<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div th:if="${clientes.size()==0}" class="container alert alert-warning alert-dismissible fade show" role="alert">
            No hay Clientes para mostrar

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria- label="Close"></button>
        </div>
        <table class="table table-sriped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Identification</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${clientes.size>0}" th:each=" cliente: ${clientes}">
                    <td th:text="${cliente.idcliente}"></td>
                    <td th:text="${cliente.cedulacliente}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.telefono}"></td>

                    <td th:if="${cliente.estado == true}">
                        <span class="bg-success rounded shadow-md fw-bold p-2">Activo</span>
                    </td>
                    <td th:if="${cliente.estado != true}">
                        <span class="bg-danger rounded shadow-md fw-bold p-2">Inactivo</span>
                    </td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-info">Change Status</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  
</body>

</html>